<div class="container">
  <div *ngIf="curso" class="curso-info">
    <h2 style="text-align: center;">{{ curso.nombreCurso }}</h2>
    <p>{{ curso.descripcion }}</p>  
    <p><strong>Contenido del curso:</strong></p>
    <p>{{ curso.contenido }}</p>
    <p><strong>Temas a tratar:</strong><br>{{ curso.temas }}</p>
    <!-- Aquí puedes agregar cualquier otro detalle del curso que desees mostrar -->

    <button id="inscribirButton" [disabled]="isInscrito" (click)="onInscribir(curso)">
      {{ isInscrito ? 'Inscrito' : 'Inscribirse' }}
    </button>
  </div>
  <div *ngIf="!curso" class="mensaje">
    <p>No se ha encontrado el curso seleccionado.</p>
  </div>
</div>
