<div class="breadcrumb">
  <a href="/" class="breadcrumb-link">Inicio</a>/
  <a href="cursos" class="breadcrumb-link">Cursos</a>/
  <span class="breadcrumb-current">Preguntas</span>
</div> 
<body>
<div class="container">
    <ul class="nav nav-tabs">
        <li style="font-size: 15px;font-weight: 200;font-family: 'Montserrat', sans-serif;" class="nav-item">
          <a class="nav-link" href="home">Inicio</a>
        </li>
        <li style="font-size: 15px;font-weight: 200;font-family: 'Montserrat', sans-serif;" class="nav-item">
          <a class="nav-link " href="cursos">Cursos</a>
        </li>
        <li style="font-size: 15px;font-weight: 200;font-family: 'Montserrat', sans-serif;" class="nav-item">
          <a class="nav-link active" href="preguntas">Preguntas</a>
        </li>
  
      </ul>
<div class="accordion">
    <div class="accordion-item" *ngFor="let pregunta of preguntas; let i = index">
        <h2 class="accordion-header">
            <button class="accordion-button" (click)="toggleAnswer(i.toString())">
                <div class="pregunta">
                    ¿{{pregunta.pregunta}}?
                </div>
            </button>
        </h2>
        <div id="collapse{{i}}" *ngIf="isOpen[i.toString()]" class="accordion-collapse collapse show">
            {{pregunta.respuesta}}
        </div>
    </div>
</div>
</div>
</body>