body {
    box-sizing: border-box;
    padding: 6%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }
  
  .principal-1 {
    display: flex;
    align-items: center;
  }
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f0f0f0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
  }
  
  .show {
    opacity: 1;
    transform: translateY(0);
    text-align: justify;
  }
  
  img {
    max-width: 100%;
    max-height: 50vh;
    border: 1px solid #333;
    border-radius: 10px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  .text-container {
    text-align: center;
    display: inline;
    margin: 2%;
  }
  
  h1, p {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
  }
  
  h1.show, p.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .divider {
    width: 100%;
    height: 2px;
    background-color: #333;
    margin: 20px 0;
  }
  
  section {
    padding: 40px 0;
    text-align: center;
  }
  
  .fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
  }
  
  .fade-in.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  #ini {
    max-width: 40%;
    height: auto;
    margin: 3%;
  }
  
  #t1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 350%;
    padding: 1%;
    text-align: center;
  }
  
  #p1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 200%;
  }
  
  #p2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 175%;
  }
  
  .imgI {
    max-width: 35%;
    height: auto;
    margin: 3%;
  }
  
  .content {
    transition: margin-left 0.4s ease-in-out;
  }
  
  @media screen and (max-width: 768px) {
    .principal-1 {
      flex-direction: column;
      align-items: center;
    }
  
    .imgI {
      max-width: 100%;
      margin-bottom: 20px;
    }

    #t1 {
      font-size: 180%;
    }
    
    #p1 {
      font-size: 125%;
      text-align: left;
    }
    
    #p2 {
      font-size: 125%;
      text-align: left;
    }
    
    .text-container {
      text-align: left; 
      margin: 2% auto;
    }

    .ver-cursos-btn {
      width: 100%;
      text-align: center;
      cursor: pointer;
      transition: .5s;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  swiper-container {
    width: 60%;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
  }
  
  swiper-slide {
    margin-right: 2%; 
    background-position: center;
    background-size: cover;
    width: 45%; 
    background-color: #c079d9;
    overflow: hidden;
    border-radius: 8px;
    display: inline-block; 
  }
  
  .picture {
    width: 100%;
    padding-top: 80%;
    position: relative;
    overflow: hidden;
  }
  
  .picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    object-fit: cover;
  }
  
  .detail {
    padding: 1rem;
    font-weight: 600;
    text-align: center;
  }
  
  .detail h3 {
    margin: 0;
    font-size: 1.25rem;
  }
  
  .detail span {
    display: block;
    font-size: 1rem;
    color: #fff;
  }
  
.scroll-to-top-bottom {
  position: fixed;
  bottom: 20px;
  right: 7px;
  background-color: #4b155f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 999;
}

.scroll-to-top-bottom:hover {
  background-color: #7f5b8c;
}

.scroll-to-bottom-bottom {
  position: fixed;
  bottom: 92%;
  right: 7px;
  background-color: #4b155f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 999;
}

.scroll-to-bottom-bottom:hover {
  background-color: #7f5b8c;
}

.hide {
  display: none;
}

.course-link {
  text-decoration: none;
  color: inherit; 
}

.course-link:hover .featured-card {
  transform: translateY(-5px);
}

.featured-card {
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  padding-top: 10px;
  margin-bottom: 20px;
}

.featured-card img {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
} 

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin-top: 0;
}

.card-content p {
  margin-bottom: 20px;
}

.featured-courses {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap;
}

.ver-cursos-btn {
  background-color: #c079d9; 
  color: white; 
  padding: 10px 20px; 
  font-size: 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.ver-cursos-btn:hover {
  background-color: #4b155f;
}