<!-- <div class="curso-info-container">
    <div class="titulo-container">
        <h1 class="titulo">Información del curso</h1>
    </div>
    <div class="curso-detalle" *ngIf="curso">
        <img class="curso-imagen" src="{{curso.img}}" alt="Imagen del curso">
        <div class="curso-texto">
            <h3>{{curso.nombreCurso}}</h3>
            <p><strong>Tipo:</strong> {{curso.tipoCurso}}</p>
            <a class="boton-detalles" [routerLink]="['/cursos']">Ver todos los cursos</a>
        </div>
    </div>
</div> -->
