<div class="cursos">
   
</div>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <div class="container">
    <title>Cursos</title>
    <br>  
    <ul class="nav nav-tabs">
      <li style="font-size: 15px;font-weight: 200;font-family: 'Montserrat', sans-serif;" class="nav-item">
        <a class="nav-link" href="principal">Inicio</a>
      </li>
      <li style="font-size: 15px;font-weight: 200;font-family: 'Montserrat', sans-serif;" class="nav-item">
        <a class="nav-link" href="lista-registro">Más información</a>
      </li>
      <li style="font-size: 15px;font-weight: 200;font-family: 'Montserrat', sans-serif;" class="nav-item">
        <a class="nav-link active" href="area-interes">Cursos</a>
      </li>
      <li style="font-size: 15px;font-weight: 200;font-family: 'Montserrat', sans-serif;" class="nav-item">
        <a class="nav-link" href="orden">Opiniones</a>
      </li>
      
    </ul>
    <br>

    <!--Barra de busqueda-->
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <form class="input-group" role="search" (input)="applyFilter()">
        <!-- <input class="form-control me-2" type="search" name="filterCursos" placeholder="Buscar Cursos" aria-label="search" [(ngModel)]="searchTerm"> -->
        <input class="form-control me-2" type="search" name="filterCursos" placeholder="Buscar Cursos" aria-label="search">
        <button class="btn btn-outline-success" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </button>
      </form>
    </div>
    <br>
  </nav>

    <div class="container-tarjetas">
      <!-- <div class="tarjeta" (click)="abrirModal('miModal1')">
          <label>Desarrollo HTML</label> 
          <br>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <title>Cursos</title>
      <br />
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="principal">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="lista-registro">Más información</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="area-interes">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="orden">Opiniones</a>
        </li>
      </ul>
      <br />
      Barra de busqueda-->
      <div class="container-tarjetas">
        <div class="tarjeta" *ngFor="let curso of cursos">
            <div class="imagen" [ngStyle]="{ backgroundImage: 'url('+curso.img+')' }"></div>
            <div class="info">
                <h4>{{curso.nombreCurso}}</h4>
                <p>{{curso.descripcion}}</p>
                <p>Precio: {{curso.precio}}</p>
                <p>Tipo: {{curso.tipoCurso}}</p>
                <button class="btn btn-outline-danger" (click)="onClickDelete(curso)">Borrar</button>
            </div>
        </div>
        <!-- <div
        class="tarjeta"
        (click)="abrirModal('miModal5')"
        *ngIf="listCurso.length > 0"
      >
        <label>{{ listCurso[0].nombreCurso }}</label>
          <br />
          <div class="curso-img-container">
            <img
              class="curso-img"
              src="{{ listCurso[0].img }}"
              alt="Imagen del curso"
            />
          </div>
          <br />
          <label for="">Categoría: </label
          ><label>{{ listCurso[0].tipoCurso }}</label>
          <br />
          <label for="">Horas totales: </label
          ><label>{{ listCurso[0].horas }}</label>
          <br>
         
        </div> -->
        <!-- <div
          class="tarjeta"
          (click)="abrirModal('miModal1')"
          *ngIf="listCurso.length > 0"
        >
          <label>{{ listCurso[1].nombreCurso }}</label>
          <br />
          <div class="curso-img-container">
            <img
              class="curso-img"
              src="{{ listCurso[1].img }}"
              alt="Conferencias"
            />
            <br />
            <label for="">Categoría: </label
            ><label>{{ listCurso[1].tipoCurso }}</label>
            <br />
            <label for="">Horas totales: </label  
            ><label>{{ listCurso[1].horas }}</label>
          </div>
        </div>
        <div class="tarjeta" (click)="abrirModal('miModal2')">
          <label>{{ listCurso[2].nombreCurso }}</label>
          <br />
          <div class="curso-img-container">
            <img
              class="curso-img"
              src="{{ listCurso[2].img }}"
              alt="Conferencias"
            />
            <br />
            <label for="">Categoría: </label
            ><label>{{ listCurso[2].tipoCurso }}</label>
            <br />
            <label for="">Horas totales: </label
            ><label>{{ listCurso[2].horas }}</label>
          </div>
        </div>
        <div class="tarjeta" (click)="abrirModal('miModal2')">
          <label>{{ listCurso[3].nombreCurso }}</label>
          <br />
          <div class="curso-img-container">
            <img
              class="curso-img"
              src="../../../assets/python.jpg"
              alt="Conferencias"
            />
            <br />
            <label for="">Categoría: </label
            ><label>{{ listCurso[3].tipoCurso }}</label>
            <br />
            <label for="">Horas totales: </label
            ><label>{{ listCurso[3].horas }}</label>
          </div>
        </div>
        <div class="tarjeta" (click)="abrirModal('miModal2')">
          <label>{{ listCurso[4].nombreCurso }}</label>
          <br />
          <div class="curso-img-container">
            <img
              class="curso-img"
              src="../../../assets/marketing.png"
              alt="Conferencias"
            />
            <br />
            <label for="">Categoría: </label
            ><label>{{ listCurso[4].tipoCurso }}</label>
            <br />
            <label for="">Horas totales: </label
            ><label>{{ listCurso[4].horas }}</label>
          </div>
        </div>
        <div class="tarjeta" (click)="abrirModal('miModal2')">
          <label>{{ listCurso[5].nombreCurso }}</label>
          <br />
          <div class="curso-img-container">
            <img
              class="curso-img"
              src="../../../assets/diseno-grafico-creativo.jpg"
              alt="Conferencias"
            />
            <br />
            <label for="">Categoría: </label
            ><label>{{ listCurso[5].tipoCurso }}</label>
            <br />
            <label for="">Horas totales: </label
            ><label>{{ listCurso[5].horas }}</label>
          </div>
        </div> -->
      </div>

      <!-- Modal 1 -->
      <div id="miModal1" class="modal" [ngClass]="{'show': modalAbierto === 1}">
        <div class="modal-content">
          <span class="close" (click)="cerrarModal('miModal1')">&times;</span>
          <h3>Desarrollo HTML</h3>
          <p>
            ¿Quieres dar tus primeros pasos en el mundo del desarrollo web?
            ¡Este curso de HTML te llevará desde ser un principiante total hasta
            dominar los fundamentos esenciales del lenguaje de marcado más
            utilizado en la web! Contenido del Curso:
          </p>
          <ul>
            <li>
              <span>Introducción a HTML:</span> Comienza tu viaje en el
              desarrollo web aprendiendo los conceptos básicos de HTML.
              Aprenderás cómo estructurar el contenido de una página web
              utilizando etiquetas HTML simples y semánticas.
            </li>
            <li>
              <span>Creación de Estructuras:</span> Descubre cómo crear
              diferentes tipos de estructuras en una página web, incluyendo
              encabezados, párrafos, listas, enlaces, imágenes y más. Aprende a
              dar formato a tu contenido utilizando etiquetas y atributos HTML.
            </li>
            <li>
              <span>Formularios y Controles de Entrada:</span> Sumérgete en el
              mundo de los formularios HTML y aprende a crear formularios
              interactivos para recopilar información del usuario. Descubre cómo
              utilizar diversos elementos de entrada, como campos de texto,
              botones, casillas de verificación y botones de opción.
            </li>
            <li>
              <span>Tablas y Marcos:</span> Aprende a estructurar datos
              tabulares utilizando etiquetas de tabla HTML. Explora cómo dividir
              tu página en marcos para organizar y presentar contenido de manera
              eficaz.
            </li>
            <li>
              <span>Multimedia y Contenido Incrustado:</span> Descubre cómo
              integrar imágenes, videos, audio y otros tipos de contenido
              multimedia en tus páginas web utilizando etiquetas HTML.
            </li>
            <li>
              <span>Estilo y Presentación:</span> Explora conceptos básicos de
              CSS y cómo aplicar estilos a tus páginas HTML para mejorar su
              apariencia y usabilidad.
            </li>
            <li>
              <span>Prácticas y Proyectos:</span> Refuerza tus habilidades
              prácticas mediante la realización de ejercicios y proyectos
              prácticos que te permitirán aplicar lo que has aprendido en
              situaciones del mundo real.
            </li>
          </ul>
          <p>
            ¡No importa si eres un completo principiante o si ya tienes algo de
            experiencia en programación! Con instrucciones claras, ejemplos
            prácticos y actividades interactivas, este curso te proporcionará
            una base sólida en HTML y te preparará para dar el siguiente paso en
            tu viaje hacia convertirte en un desarrollador web profesional.
            ¡Únete hoy y comienza tu camino hacia el dominio de HTML!
          </p>
        </div>
        
      </div>

      <!-- Modal 2 -->
      <div id="miModal2" class="modal">
        <div class="modal-content">
          <span class="close" (click)="cerrarModal('miModal2')">&times;</span>
          <h2>Cómo utilizar MySQL?</h2>
          <p>
            ¿Quieres adentrarte en el fascinante mundo de las bases de datos y
            el almacenamiento de datos? ¡Este curso de MySQL te guiará a través
            de los fundamentos esenciales para comenzar a trabajar con una de
            las bases de datos más populares y poderosas del mundo! Contenido
            del Curso:
          </p>
          <ul>
            <li>
              <span>Introducción a MySQL:</span> Comienza tu viaje aprendiendo
              los conceptos básicos de MySQL, desde la instalación y
              configuración hasta la creación de tu primera base de datos.
            </li>
            <li>
              <span>Manipulación de Datos:</span> Descubre cómo realizar
              consultas SQL para recuperar, actualizar, insertar y eliminar
              datos en tu base de datos. Aprende a trabajar con tablas, índices
              y claves para organizar y optimizar tu información.
            </li>
            <li>
              <span>Relaciones y Joins:</span> Explora cómo establecer
              relaciones entre diferentes tablas y cómo utilizar las operaciones
              de join para combinar datos de múltiples fuentes.
            </li>
            <li>
              <span>Seguridad y Privilegios:</span> Aprende las mejores
              prácticas para asegurar tu base de datos y protegerla contra
              accesos no autorizados. Descubre cómo gestionar usuarios, roles y
              permisos para garantizar la seguridad de tus datos.
            </li>
            <li>
              <span>Respaldo y Restauración:</span> Domina las técnicas de
              respaldo y restauración para proteger tus datos contra pérdidas y
              garantizar la continuidad del negocio en caso de desastres.
            </li>
            <li>
              <span>Optimización del Rendimiento:</span> Explora estrategias
              avanzadas para optimizar el rendimiento de tu base de datos,
              incluyendo la indexación, la optimización de consultas y la
              configuración del servidor.
            </li>
            <li>
              <span>Casos Prácticos y Proyectos:</span> Aplica tus conocimientos
              en casos prácticos del mundo real y proyectos desafiantes que te
              ayudarán a consolidar tus habilidades y convertirte en un experto
              en MySQL.
            </li>
          </ul>
          <p>
            ¡Ya sea que estés interesado en desarrollar aplicaciones web,
            trabajar en análisis de datos o administrar sistemas de bases de
            datos empresariales, este curso te proporcionará las habilidades
            necesarias para tener éxito en el emocionante campo de MySQL!
            ¡Regístrate hoy y comienza tu viaje hacia el dominio de MySQL!
          </p>
        </div>
      </div>

      <!-- Modal 3 -->
      <div id="miModal3" class="modal">
        <div class="modal-content">
          <span class="close" (click)="cerrarModal('miModal3')">&times;</span>
          <h2>Big Data principales usos</h2>
          <p>
            ¿Quieres descubrir cómo las organizaciones están aprovechando el
            poder del Big Data para impulsar la innovación y la toma de
            decisiones? ¡Este curso te llevará a través de los principales usos
            y aplicaciones del Big Data en una amplia variedad de industrias y
            campos! Contenido del Curso:
          </p>
          <ul>
            <li>
              <span>Introducción al Big Data:</span> Comienza tu viaje con una
              visión general del Big Data, incluyendo definiciones,
              características y desafíos asociados con el procesamiento y
              análisis de grandes volúmenes de datos.
            </li>
            <li>
              <span>Análisis de Datos en Tiempo Real:</span> Explora cómo las
              organizaciones utilizan el Big Data para realizar análisis en
              tiempo real y tomar decisiones rápidas basadas en datos en
              diversas áreas, como el comercio electrónico, las finanzas y la
              atención médica.
            </li>
            <li>
              <span>Predicción y Modelado:</span> Descubre cómo el Big Data se
              utiliza para desarrollar modelos predictivos y algoritmos de
              machine learning que permiten predecir tendencias futuras,
              identificar oportunidades y mitigar riesgos.
            </li>
            <li>
              <span>Personalización y Experiencia del Cliente:</span> Aprende
              cómo las empresas utilizan el Big Data para personalizar la
              experiencia del cliente, ofreciendo productos y servicios
              adaptados a las necesidades y preferencias individuales de cada
              usuario.
            </li>
            <li>
              <span>Optimización de Procesos y Eficiencia Operativa:</span>
              Explora cómo el Big Data se utiliza para optimizar procesos
              empresariales y mejorar la eficiencia operativa en áreas como la
              cadena de suministro, la logística y la gestión de recursos
              humanos.
            </li>
            <li>
              <span>Seguridad y Prevención de Fraudes:</span> Descubre cómo el
              Big Data se utiliza para detectar y prevenir fraudes,
              identificando patrones y anomalías en grandes volúmenes de datos
              para proteger los activos y la reputación de una organización.
            </li>
            <li>
              <span>Casos de Estudio y Aplicaciones Prácticas:</span> Sumérgete
              en estudios de caso del mundo real y ejemplos prácticos que
              ilustran cómo diversas organizaciones están utilizando el Big Data
              para resolver problemas y aprovechar oportunidades en diferentes
              sectores y contextos.
            </li>
          </ul>
          <p>
            ¡Únete a nosotros y descubre cómo el Big Data está transformando
            industrias, impulsando la innovación y cambiando la forma en que
            vivimos y trabajamos!
          </p>
        </div>
      </div>

      <!-- Modal 4 -->
      <div id="miModal4" class="modal">
        <div class="modal-content">
          <span class="close" (click)="cerrarModal('miModal4')">&times;</span>
          <h2>Aprende JavaScript</h2>
          <p>
            ¿Quieres convertirte en un desarrollador web completo? ¡Aprender
            JavaScript es esencial para construir aplicaciones web dinámicas e
            interactivas! Este curso te llevará desde ser un principiante total
            hasta dominar los conceptos fundamentales de JavaScript y más allá.
            Contenido del Curso:
          </p>
          <ul>
            <li>
              <span>Introducción a JavaScript:</span> Comienza tu viaje
              aprendiendo los conceptos básicos de JavaScript, incluyendo
              variables, tipos de datos, operadores y estructuras de control de
              flujo.
            </li>
            <li>
              <span>Funciones y Eventos:</span> Descubre cómo definir funciones
              en JavaScript y cómo manejar eventos para crear interactividad en
              tus aplicaciones web.
            </li>
            <li>
              <span>Manipulación del DOM:</span> Aprende a manipular el Document
              Object Model (DOM) utilizando JavaScript para cambiar
              dinámicamente el contenido, el estilo y el comportamiento de tus
              páginas web.
            </li>
            <li>
              <span>Trabajo con Arrays y Objetos:</span> Explora cómo trabajar
              con arrays y objetos en JavaScript, incluyendo métodos de array,
              iteración y manipulación de objetos.
            </li>
            <li>
              <span>AJAX y Fetch API:</span> Descubre cómo realizar peticiones
              asíncronas al servidor utilizando AJAX y la Fetch API para cargar
              datos dinámicamente en tus aplicaciones web.
            </li>
            <li>
              <span>Conceptos Avanzados de JavaScript:</span> Explora conceptos
              avanzados de JavaScript, como closures, scope, promesas y
              asincronismo, que te permitirán escribir código más eficiente
            </li>
          </ul>
        </div>
      </div>
      <div id="miModal5" class="modal" *ngFor="let curso of cursos">
        <div class="modal-content">
          <span class="close" (click)="cerrarModal('miModal5')">&times;</span>
          <h2>{{ curso.nombreCurso }}</h2>
          <p>
            ¿Quieres convertirte en un desarrollador web completo? ¡Aprender
            JavaScript es esencial para construir aplicaciones web dinámicas e
            interactivas! Este curso te llevará desde ser un principiante total
            hasta dominar los conceptos fundamentales de JavaScript y más allá.
            Contenido del Curso:
          </p>
          <ul>
            <li>
              <span>Introducción a JavaScript:</span> Comienza tu viaje
              aprendiendo los conceptos básicos de JavaScript, incluyendo
              variables, tipos de datos, operadores y estructuras de control de
              flujo.
            </li>
            <li>
              <span>Funciones y Eventos:</span> Descubre cómo definir funciones
              en JavaScript y cómo manejar eventos para crear interactividad en
              tus aplicaciones web.
            </li>
            <li>
              <span>Manipulación del DOM:</span> Aprende a manipular el Document
              Object Model (DOM) utilizando JavaScript para cambiar
              dinámicamente el contenido, el estilo y el comportamiento de tus
              páginas web.
            </li>
            <li>
              <span>Trabajo con Arrays y Objetos:</span> Explora cómo trabajar
              con arrays y objetos en JavaScript, incluyendo métodos de array,
              iteración y manipulación de objetos.
            </li>
            <li>
              <span>AJAX y Fetch API:</span> Descubre cómo realizar peticiones
              asíncronas al servidor utilizando AJAX y la Fetch API para cargar
              datos dinámicamente en tus aplicaciones web.
            </li>
            <li>
              <span>Conceptos Avanzados de JavaScript:</span> Explora conceptos
              avanzados de JavaScript, como closures, scope, promesas y
              asincronismo, que te permitirán escribir código más eficiente
            </li>
          </ul>
          <button mat-raised-button color="primary" [routerLink]="['/cursos', cursos[0].id]" class="custom-button">
            Más información
          </button>
          
          
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
