<div class="breadcrumb">
  <a href="/" class="breadcrumb-link">Inicio</a>/
  <span class="breadcrumb-current">Cursos</span>
</div> 
<br>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <title>Cursos</title>
    <br>
    <ul class="nav nav-tabs">
      <li style="font-size: 15px;font-weight: 200;font-family: 'Montserrat', sans-serif;" class="nav-item">
        <a class="nav-link" href="home">Inicio</a>
      </li>
      <li style="font-size: 15px;font-weight: 200;font-family: 'Montserrat', sans-serif;" class="nav-item">
        <a class="nav-link active" href="area-interes">Cursos</a>
      </li>
      <li style="font-size: 15px;font-weight: 200;font-family: 'Montserrat', sans-serif;" class="nav-item">
        <a class="nav-link" href="preguntas">Preguntas</a>
      </li>
    </ul>
    <br>

    <!--Barra de busqueda-->
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <input class="form-control me-2" type="search" name="filterCursos" placeholder="Buscar Cursos" aria-label="search" [(ngModel)]="searchTerm" (input)="applyFilter()">
      </div>
      <br>
    </nav>

      <!--tarjeta-->
      <div class="container-tarjetas">
        <div *ngFor="let curso of cursos">
        <div class="tarjeta" (click)="abrirModal('miModal' + curso.id)">
          <h4>{{curso.nombreCurso}}</h4>
          <p>{{curso.descripcion}}</p>
          <p><strong>Precio: </strong> {{curso.precio}}</p>
          <p><strong>Horas: </strong> {{curso.horas}}</p>
          <p><strong>Tipo: </strong> {{curso.tipoCurso}}</p>
          <p><strong>Idioma: </strong> {{curso.idioma}}</p>
          <p><strong>País: </strong> {{curso.pais}}</p>
          <!-- <p>{{curso.img}}</p> -->
        </div>
      </div>
      </div>

      <div id="miModal{{curso.id}}" class="modal" *ngFor="let curso of cursos">
        <div class="modal-content">
          <span class="close" (click)="cerrarModal('miModal' + curso.id)">&times;</span>
          <h2>{{ curso.nombreCurso }}</h2>
          <p>{{curso.contenido}}</p>
          <p><strong>Temas a tratar:</strong><br>{{curso.temas}}</p>
          <button id="inscribirButton" [disabled]="isInscrito" (click)="onInscribir()">
            {{ isInscrito ? 'Inscrito' : 'Inscribirse' }}
          </button>
        </div>
      </div>
    </div>
</body>

</html>