.login-form {
    max-width: 520px;
    margin: 50px auto; /* Centra el formulario con un margen superior */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Aumenta el radio de los bordes para un aspecto más suave */
    background-color: #f9f9f9; /* Cambia el color de fondo para que contraste mejor */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"] {
    width: calc(100% - 20px); /* Resta el padding para que el ancho total sea el deseado */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px; /* Agrega un pequeño espacio entre los campos */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  }
  
  .btn {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 10px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s; /* Agrega una transición suave al color de fondo */
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  