<div class="breadcrumb">
  <a href="/" class="breadcrumb-link">Inicio</a>/
  <span class="breadcrumb-current">Iniciar Sesión</span>
</div> 
<form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="login-form">
  <div class="form-group">
    <label for="email">E-mail</label>
    <input id="email" class="form-control" type="email" formControlName="email" placeholder="Ingresa tu email">
    <div *ngIf="formulario?.get('email')?.invalid && formulario?.get('email')?.touched">
      <small class="text-danger" *ngIf="formulario?.get('email')?.errors?.['required']">El email es obligatorio.</small>
      <small class="text-danger" *ngIf="formulario?.get('email')?.errors?.['email']">Ingresa un email válido.</small>
  </div>

  </div>
  <div class="form-group">
    <label for="password">Contraseña</label>
    <div class="input-container">
      <input
          id="password"
          class="form-control"
          [type]="passwordType"
          formControlName="password"
          placeholder="Ingresa tu contraseña"
      >
      <!-- Icono de ojo dentro del campo de entrada -->
      <i
          (click)="togglePasswordVisibility()"
          [class]="passwordType === 'password' ? 'bi bi-eye-slash' : 'bi bi-eye'"
          class="eye-icon"
      ></i>
  </div>
  <div *ngIf="formulario?.get('password')?.invalid && formulario?.get('password')?.touched">
    <small class="text-danger" *ngIf="formulario?.get('password')?.errors?.['required']">La contraseña es obligatoria.</small>
    <small class="text-danger" *ngIf="formulario?.get('password')?.errors?.['minLength']">La contraseña debe tener al menos 6 caracteres.</small>
  </div>
  </div>
 


  <!-- reCAPTCHA -->
  <div id="recaptcha-container"></div>
  <div class="form-group">
    <label for="password">Teléfono</label>
    <div class="input-container">
      <input [(ngModel)]="telefono"
          id="tel"
          class="form-control"
          type="tel"
          formControlName="tel"
          placeholder="Ingresa tu número teléfonico"
      >
  </div>
  <button (click)="loginTel()">Obtener CODIGO</button>
  <div *ngIf="formulario?.get('telefono')?.invalid && formulario?.get('telefono')?.touched">
    <small class="text-danger" *ngIf="formulario?.get('telefono')?.errors?.['required']">La contraseña es obligatoria.</small>
    <small class="text-danger" *ngIf="formulario?.get('telefono')?.errors?.['minLength']">El número teléfonico debe tener al menos 10 caracteres.</small>
  </div>
  </div>

  <button id="sign-in-button" class="btn btn-primary btn-block" type="submit">Enviar</button>
  <div class="fpass">
    <br>
  <a id="fpass" href="" (click)="resetPassword($event)">Olvidé mi contraseña</a>
  </div>
  <div class="registro">
    <br>
  <a id="regis" href="registro">¿No tienes cuenta? Crea una</a>
  </div>
</form>


