.login-form {
    max-width: 520px;
    margin: 50px auto; /* Centra el formulario con un margen superior */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Aumenta el radio de los bordes para un aspecto más suave */
    background-color: #f9f9f9; /* Cambia el color de fondo para que contraste mejor */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
    font-family: 'Poppins', sans-serif;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;

  }
  
  input[type="email"],
  input[type="password"] {
    width: calc(100% - 20px); /* Resta el padding para que el ancho total sea el deseado */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px; /* Agrega un pequeño espacio entre los campos */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  }
  
  .btn {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 10px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s; /* Agrega una transición suave al color de fondo */
  }
  
  .btn:hover {
    background-color: #0056b3;
  }

  .fpass{
    text-align: center;
  }
  

  .input-container {
    position: relative; /* Posiciona el contenedor relativamente */
}

.eye-icon {
    position: absolute; /* Posiciona el icono de forma absoluta dentro del contenedor */
    top: 50%; /* Centra el icono verticalmente */
    right: 30px; /* Coloca el icono a la derecha */
    transform: translateY(-50%); /* Ajusta el posicionamiento vertical */
    cursor: pointer; /* Hace que el icono sea clickeable */
}

@media screen and (max-width: 600px) {
  .login-form {
    max-width: 90%; /* Ajusta el ancho máximo al 90% del tamaño de la pantalla */
    margin: 50px auto; /* Mantiene el margen superior */
    padding: 10px; /* Reduce el padding para un aspecto más compacto */
  }

  input[type="email"],
  input[type="password"] {
    width: calc(100% - 20px); /* Resta el padding para ajustar el ancho total */
    padding: 8px; /* Reduce el padding */
    font-size: 14px; /* Reduce el tamaño de la fuente */
    margin-bottom: 8px; /* Reduce el espacio entre campos */
  }

  .btn {
    padding: 8px; /* Reduce el padding */
    font-size: 14px; /* Reduce el tamaño de la fuente */
  }
}

/* Estilos para las migas de pan */
.breadcrumb {
  padding: 25px 35px;
  font-size: 18px;
  display: flex;
  
}

.breadcrumb-link {
  color: #57216a; 
  text-decoration: none;

}

.breadcrumb-link:hover {
  color: #57216a; 
  text-decoration: underline; 
}

/* Estilos para la sección actual de las migas de pan */
.breadcrumb-current {
  color: #c37ed4; 
  font-weight: bold; 
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Aplicar animación a las migas de pan */
.breadcrumb {
  animation: fadeIn 1.5s ease-in-out;
}

/* Zoom-in animation */
@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.registro{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}