<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 404</title>
  <link rel="stylesheet" href="pagina-error.component.css"> <!-- Enlaza el archivo CSS aquí -->
</head>
<body>
  <div class="container">
    <img src="../../assets/error.jpg" alt="Ruta desconocida">
    <p>¡Ups! Parece que el recurso al que quieres acceder no existe.</p>
    <p>Disculpa las molestias, pero no te preocupes, aún estoy aquí para ti. Puedes volver al inicio dando clic <a href="home">aquí</a>.</p>
  </div>
</body>
</html>
