/* Estilos para las migas de pan */
.breadcrumb {
    padding: 25px 35px;
    font-size: 18px;
    display: flex;
  }
  
  .breadcrumb-link {
    color: #57216a; 
    text-decoration: none; 
  }
  
  .breadcrumb-link:hover {
    color: #57216a; 
    text-decoration: underline; 
  }
  
  /* Estilos para la sección actual de las migas de pan */
  .breadcrumb-current {
    color: #c37ed4; 
    font-weight: bold; 
  }
  
  /* Fade-in animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Aplicar animación a las migas de pan */
  .breadcrumb {
    animation: fadeIn 1.5s ease-in-out;
  }
  
  /* Zoom-in animation */
  @keyframes zoomIn {
    from {
      transform: scale(0.5);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
/* Estilo para la tabla */
.table table {
    width: 80%; /* El ancho de la tabla será del 80% del contenedor */
    margin: 0 auto; /* Centra la tabla */
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif; /* Colapsar bordes para una apariencia más limpia */
}

/* Estilo para las celdas de la tabla */
.table td, .table th {
    border: 1px solid #ccc; /* Borde para las celdas */
    padding: 8px; /* Espacio entre contenido y borde de la celda */
    text-align: center; /* Centra el contenido de las celdas */
}

/* Estilo para el encabezado de la tabla */
.table th {
    font-weight: bold; /* Texto en negrita para el encabezado */
    background-color: #007bff;
    color: white; /* Color de fondo claro para el encabezado */
}

select{
    border-radius: 5px;
}

/* Contenedor para la tabla */
.table-container {
  overflow-x: auto; /* Hace que el contenedor sea desplazable horizontalmente si el contenido es demasiado ancho */
  padding-top: 15px;
}

/* Hacer la tabla responsiva */
@media (max-width: 768px) {
  .table-container {
      width: 100%; /* Ajustar el ancho del contenedor al 100% del contenedor padre */
  }

  .table table {
      width: auto; /* Permitir que la tabla tenga un ancho flexible según su contenido */
  }

  /* Ajustar el tamaño de las celdas para pantallas más pequeñas */
  .table td, .table th {
      padding: 6px;
  }
}