<header>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-3">
          <div class="logo-container">
            <a href="home">
            <img class="logo" src="../../../assets/logo3.png" alt="MinoTech">
            </a>
          </div>
        </div>
        <div class="col-md-9 col-sm-9 col-9 text-end">
          <div class="menu-icon" (click)="abrirMenu()">
            <i class="{{menu_icon}}" ></i>
          </div>
          <div class="desktop-menu" [class.mobile_menu]="menuValue" id="desktopMenu">
            <ul>
              <li (click)="cerrarMenu()"><a href="home"><i class="bi bi-house"></i>&nbsp;Inicio</a></li>
              <li (click)="cerrarMenu()"><a href="cursos"><i class="bi bi-book"></i>&nbsp;Cursos</a></li>
              <li *ngIf="rol === 'admin' && isUserLoggedIn == true" ><a href="agregar-curso"><i class="bi bi-journal-plus"></i>&nbsp;Crear curso</a></li>
              <li *ngIf="isUserLoggedIn == false"><a href="login"><i class="bi bi-box-arrow-in-right"></i>&nbsp;Iniciar Sesión</a></li>
              <li *ngIf="isUserLoggedIn == false"><a href="registro"><i class="bi bi-person-add"></i>&nbsp;Registrarse</a></li>            
              <li *ngIf="isUserLoggedIn == true" (click)="logout()"><a href="/login"><i class="bi bi-box-arrow-right"></i>&nbsp;Cerrar Sesión</a></li> 
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <!-- <div class="container-search">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar curso">
    <ul>
      <li *ngFor="let curso of cursos | filter: searchTerm">
        {{ curso.nombre }}
      </li>
    </ul>
    <div class="btn">
      <i class="bi bi-search"></i>
      
    </div> -->
  <!-- </div> -->